.main-container {
  display: flex;
  height: 100vw;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .button-container {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    outline: 1px solid black;
  }
}
input {
  width: 400px;
  height: 100px;
  background-color: black;
}
button {
  background-color: rgb(96, 96, 99);
  width: 100px;
  height: 100px;
  font-size: xx-large;
  padding: 5px;
  font-weight: bolder;
  color: white;
}
.type1ButtonContainer {
  background-color: rgb(225, 159, 12);
}
.type2ButtonContainer {
  background-color: rgb(66, 66, 69);
}
